<div class="new_background">

<%= form_for @cook, url: {controller: "eat", action: "eat_update_new"}, html: {class: "form-inline form-con"}, multipart: true do |f| %>  
  
  <h3 class="new_selling"># 가게 등록</h3>
  <hr>
    <p class="form-p">카테고리</p>
    <%= collection_select(:cook, :cookchoice_id, Cookchoice.all, :id, :title, { multiple: false }, {class: "category-style"}) %>
    <%= collection_select(:cook, :cooklist_id, Cooklist.all, :id, :title, { multiple: false }, {class: "category-style"}) %>
   
    <p class="form-p">가게 이름</p>
    <%= f.text_field :title, value: "#{@cook.title}", class: "form-control placeholder_default", placeholder: "" %>
    
   
    <p class="form-p">주소</p>
    <%= f.text_field :address, value: "#{@cook.address}", class: "form-control input-size0 placeholder_default", id: "exampleInputName2", placeholder:"" %>

    <div class="form-group">
    <p class="form-p">전화번호</p>
    <%= f.text_field :phone, value: "#{@cook.phone}", class: "form-control input-size0 placeholder_default", id: "exampleInputName2", placeholder:"" %>
    </div>
    
    <p class="form-p">영업시간</p>
    <%= f.text_field :opertime, value: "#{@cook.opertime}", class: "form-control input-size", id: "exampleInputName2", placeholder: "" %>  

    <div class="form-group">
    <p class="form-p">위도</p>
    <%= f.text_field :latitude, value: "#{@cook.latitude}", class: "form-control input-size", id: "exampleInputName2", placeholder: "" %>  
    </div>
     
    <div class="form-group">  
    <p class="form-p">경도</p>
    <%= f.text_field :longitude, value: "#{@cook.longitude}", class: "form-control input-size", id: "exampleInputName2", placeholder: "" %>
    </div>
    
     <div class="form-group">  
    <p class="form-p">메뉴1</p>
    <%= f.text_field :menuone, value: "#{@cook.menuone}", class: "form-control input-size", id: "exampleInputName2", placeholder: "" %>
    </div>
     <div class="form-group">  
    <p class="form-p">메뉴1 가격</p>
    <%= f.text_field :one, value: "#{@cook.one}", class: "form-control input-size", id: "exampleInputName2", placeholder: "숫자만 입력해주세요." %>
    </div>
    
     <div class="form-group">  
    <p class="form-p">메뉴2</p>
    <%= f.text_field :menutwo, value: "#{@cook.menutwo}", class: "form-control input-size", id: "exampleInputName2", placeholder: "" %>
    </div>
     <div class="form-group">  
    <p class="form-p">메뉴2 가격</p>
    <%= f.text_field :two, value: "#{@cook.two}", class: "form-control input-size", id: "exampleInputName2", placeholder: "숫자만 입력해주세요." %>
    </div>
    
     <div class="form-group">  
    <p class="form-p">메뉴3</p>
    <%= f.text_field :menuthr, value: "#{@cook.menuthr}", class: "form-control input-size", id: "exampleInputName2", placeholder: "" %>
    </div>
    
     <div class="form-group">  
    <p class="form-p">메뉴3 가격</p>
    <%= f.text_field :thr, value: "#{@cook.thr}", class: "form-control input-size", id: "exampleInputName2", placeholder: "숫자만 입력해주세요." %>
    </div>
    
     <div class="form-group">  
    <p class="form-p">메뉴4</p>
    <%= f.text_field :menufour, value: "#{@cook.menufour}", class: "form-control input-size", id: "exampleInputName2", placeholder: "" %>
    </div>
    
     <div class="form-group">  
    <p class="form-p">메뉴4 가격</p>
    <%= f.text_field :four, value: "#{@cook.four}", class: "form-control input-size", id: "exampleInputName2", placeholder: "숫자만 입력해주세요." %>
    </div>
    
     <div class="form-group">  
    <p class="form-p">메뉴5</p>
    <%= f.text_field :menufive, value: "#{@cook.menufive}", class: "form-control input-size", id: "exampleInputName2", placeholder: "" %>
    </div>
    
     <div class="form-group">  
    <p class="form-p">메뉴5 가격</p>
    <%= f.text_field :five, value: "#{@cook.five}", class: "form-control input-size", id: "exampleInputName2", placeholder: "숫자만 입력해주세요." %>
    </div>
    
    <%= f.file_field :image, class: "file-submit", multiple: true %>
    
    <%= f.submit "확인", class: "btn btn-info file-submit" %>
    
<% end %>

</div>
 