<div class="container book_main">
    
    <div class="index-con">
        <div class="board-title-size">
              <!--<p class="notice">notice <span class="notice-span">모바일에 최적화되어, PC는 크롬 사용을 권장합니다.</span></p>  -->
              <p class="board-title1">사고 팔<span class="go">GO</span></p>
              <p class="board-content"></p>
        </div>
    
        <form class="input-group book_query_input">
            <input type="text" class="form-control placeholder_default index-input" name="query" placeholder="찾는 책을 검색해보세요.">
            <span class="input-group-btn">
            <button class="btn btn-danger btn-lg btn-mobile" type="submit"><i class="fa fa-search fa-lg" aria-hidden="true"></i></button>
            </span>
        </form>
    </div>    
         
        <div class="row book_menu_con">
            <div class="book_menu">
                <a href="/new">
                <img src="/images/text.png" class="book_menu_img" alt="book">  
                <p class="book_menu_title" style="color: #FFA7A7;">글쓰기</p>
                </a>
            </div>
            <div class="book_menu">
                <a href="/index">
                <img src="/images/books.png" class="book_menu_img" alt="book">  
                <p class="book_menu_title">서적</p>
                </a>
            </div>
            <div class="book_menu">
                <a href="/box">
                <img src="/images/trolley.png" class="book_menu_img" alt="box">  
                <p class="book_menu_title">기타</p>
                </a>
            </div>
        </div>
   
</div>

<div class="background background-etc-index">
  <div class="container">  
    <div class="grand-parent">  
      <% @posts.each do |x| %>
      <div class="parent parent_first">
        
        <div class="panel panel-default-white">
        <a href="/show/<%= x.id %>">    
          <div class="panel-body panel-padding">
            
            <div class="child index-post-img"> 
              <% if x.image.present? %>
              <img src="<%= x.image[0].url %>" class="img-responsive img-design" alt="postimage">
              <% else %>
              <%#= link_to image_tag("#{x.image.url}", class: "img-responsive"), "/show/#{x.id}" %>
              <img src="/images/no_image.gif" class="img-responsive img-design" alt="postimage">
              <% end %>
              
                <div class="selling-button">
                     <% if x.selling_id == 3 %>
                    <div class="btn btn-danger selling-border"><%= x.selling.title %></div>
                    <% elsif x.selling_id == 2 %>
                    <div class="btn btn-warning selling-border"><%= x.selling.title %></div>
                    <% else %>
                    <div class="btn btn-success selling-border"><%= x.selling.title %></div>
                    <% end %>
                </div>
            </div>
       
            <div class="child index-post-content">
            <!--<p class="index-user-name"></p>-->
                <p class="index-user-time"><span class="by_name">by </span><%= x.user.name? ? x.user.name : x.user.nic_name %> · <%= time_ago_in_words(x.created_at) %></p>
                
                <% if x.company.present? or x.writename.present? or x.category_id == 1 %>
                <div class="index-post-title">
                <p class="post-title"><%= x.title %></p>
                </div>
                <% else %>
                <div class="index-post-title-item">
                <p class="post-title"><%= x.title %></p>
                </div>
                <% end %>
                
                <% if x.company.present? %>
                <div class="index-post-title2">
                <p class="index-post-company"><%= x.company %></p>
                </div>
                <% elsif x.company.blank? %>
                <div class="index-post-title2">
                <p class="index-post-company">출판사</p>
                </div>
                <% else %>
                <% end %>
                
                <% if x.writename.present? %> 
                <div class="index-post-title3">
                <p class="index-post-writename"><%= x.writename %> 지음</p>
                </div>
                <% elsif x.writename.blank? %>
                <div class="index-post-title3">
                <p class="index-post-writename">지음</p>
                </div>
                <% else %>
                <% end %>
                
             <div class="grand-row">
                 <% if x.standard %>
                 <p class="index-standard"><%= number_with_delimiter(x.standard) %>원 </p>
                 <% end %>
                 
                 <% if x.price %>
                 <div class="parent-left">
                 <p class="index-price"> <%= number_with_delimiter(x.price) %>원</p>
                 </div>
                 <div class="parent-right">
                 <p class="index-user-time">댓글(<%= x.replies.size %>)</p>     
                 <!--<i class="fa fa-shopping-cart like-icon-color-main" aria-hidden="true"> <%#= x.likes.size %></i>-->
                 </div>
                 <% else %>
                 <div class="parent-left">
                 <p class="index-price">가격 협의</p>
                 </div>
                 <div class="parent-right">
                 <p class="index-user-time">댓글(<%= x.replies.length %>)</p>
                 <!--<i class="fa fa-shopping-cart like-icon-color-main" aria-hidden="true"> <%#= x.likes.size %></i>-->
                 </div>
                 <% end %>
             </div>
            </div>
         </div>
         </a>
     </div>
     
    </div>
<% end %>
            <div class="paginate-con">
              <%= will_paginate @posts, previous_label: '<< 이전', next_label: '다음 >>', page_links: false, class: "paginate" %>
            </div>      
    </div>
    </div>     
  </div>
               
        
<script>
$(document).ready(function() { 
 $('.board-content').typeIt({
     autoStart: false
  })
  .tiType('캠퍼스 안에서 빠르고 안전한 직거래');
});     
</script>
