<div class='row card-size'>
    <div class="panel panel-default panel-post-show">
        <div class="panel-body">
              
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Carousel indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>   
    
        <!-- Wrapper for carousel items -->
        <div class="carousel-inner">
            <div class="item active">
            <% if @post.image[0] %>
                <a href="<%= @post.image[0].url %>">
                <img src="<%= @post.image[0].url %>" class="img-responsive center-block" alt="postimage"></a>
                <% else %>
                <img src="/images/no_image.gif" class="img-responsive img-design" alt="postimage">
            <% end %>
            </div>
            <div class="item">
                <% if @post.image[1] %>
                <a href="<%= @post.image[1].url %>">
                <img src="<%= @post.image[1].url %>" class="img-responsive center-block" alt="postimage"></a>
                <% else %>
                <img src="/images/no_image.gif" class="img-responsive img-design" alt="postimage">
                <% end %>
            </div>
            <div class="item">
            <% if @post.image[2] %>
                <a href="<%= @post.image[2].url %>">
                <img src="<%= @post.image[2].url %>" class="img-responsive center-block" alt="postimage"></a>
                <% else %>
                <img src="/images/no_image.gif" class="img-responsive img-design" alt="postimage">
                <% end %>
            </div>
        </div>
            <!-- Carousel controls -->
            <a class="carousel-control left" href="#myCarousel" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="carousel-control right" href="#myCarousel" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
        </div>

            <hr>
             <div class="text-right">
                    <% if @post.selling_id == 3 %>
                    <button type="button" class="btn btn-danger selling-border"><%= @post.selling.title %></button>
                    <% elsif @post.selling_id == 2 %>
                    <button type="button" class="btn btn-warning selling-border"><%= @post.selling.title %></button>
                    <% else %>
                    <button type="button" class="btn btn-success selling-border"><%= @post.selling.title %></button>
                    <% end %>
              </div>  
    
        <div class="show-all">
            <h4 class="show-name"><%= @post.user.name? ? @post.user.name : @post.user.nic_name %> 님</h4>
            <p class="show-time show-time-first"><%= time_ago_in_words(@post.created_at) %></p>
            <p class="show-title"><%= @post.title %></p>
            <% if @post.category_id == 1 && @post.company.present? %>
            <p class="show-company-writename"><%= @post.company %></p>
            <% elsif @post.category_id == 2 && @post.company.present? %>
            <p class="show-company-writename">구입시기 <%= @post.company %></p>
            <br>
            <% else %>
            <% end %>
            <% if @post.writename.present? %>
            <p class="show-company-writename writename-bottom"><%= @post.writename %> 지음</p>
            <% end %>
            
            <% if @post.standard %>
            <p class="show-standard">정가 <%= number_with_delimiter(@post.standard) %>원</p>
            <% end %>
            <% if @post.price %>
            <p class="show-price"><%= number_with_delimiter(@post.price) %>원</p>
            <% else %>
            <p class="show-price">가격 협의</p>
            <% end %>
        </div>
        
         <% if user_signed_in? && @post.user.id == current_user.id %> 
           <%= form_for @post, url: {controller: "home", action: "update_new"}, html: {class: ""}, multipart: true do |f| %>
            <%= collection_select(:post, :selling_id, Selling.all, :id, :title, { multiple: false }, {class: "category-style"} ) %>
            <br>
            <%= f.submit "상태 변경", class: "btn btn-default btn-sm file-submit" %>
            <% end %>
        <% end %>  
        
        <div class="show-content">
        <p><%= simple_format(@post.content) %></p>
         <div class="text-right">    
        <% if user_signed_in? && current_user.id == @post.user.id %>
            <a href="/update/<%= @post.id %>" class="delete-update-link">게시글 수정</a>
            <a href="/destroy/<%= @post.id %>" class="delete-update-link" data-confirm="진짜 지울거에요?" data-method="post">삭제</a>
        <% end %>
        
        </div>
        </div><br>
        
         <!--쪽지 보내기-->
        
        <% if user_signed_in? && @post.user.id != current_user.id %> <!--해당 게시글과 현재 접속 유저가 같지 않다면~ -->
            <div class="text-right">
            <%= link_to '쪽지 보내기', conversations_path(sender_id: current_user.id, recipient_id: @post.user.id), method: 'post', class: "btn btn-success btn-sm" %>
            </div>
        <% end %>
            
        <p class="text-right like-color">
        <% if user_signed_in? && current_user.is_like?(@post) %> 
            <%= link_to "찜하기 취소", "/likes/#{@post.id}", method: 'post', class: "like-link" %> <i class="fa fa-shopping-cart like-icon-color" aria-hidden="true"></i>
        <% elsif user_signed_in? %>
            <%= link_to "찜하기", "/likes/#{@post.id}", method: 'post', class: "like-link" %> <i class="fa fa-shopping-cart like-icon-color" aria-hidden="true"></i>
        <% else %>
            <i class="fa fa-shopping-cart like-icon-color" aria-hidden="true"></i>
        <% end %>찜 <%= @post.likes.size %>명</p>
            
        <%= form_tag("/reply/#{@post.id}", method:"post") do %>
        <div class="form-group">
            <input type="text" name="rep" class="form-control reply-input" id="exampleInputName2">
            <button type="submit" class="btn btn-warning btn-sm reply_submit">댓글</button>
        </div>
        <% end %>
      
     
    <% @post.replies.each do |r| %>
    <div class="reply-all"> 
        <p class="reply-name"><%= r.user.name? ? r.user.name : r.user.nic_name %> <span class="show-time"><%= time_ago_in_words(r.created_at) %></span></p>
        <p class="reply-content"><%= r.content %></p>
        <% if user_signed_in? && current_user.id == r.user.id %>
            <a href="/destroy2/<%= @post.id %>/<%= r.id %>" class="reply-delete" data-confirm="진짜 지울거에요?" data-method="post"><i class="fa fa-trash-o" aria-hidden="true"></i> 삭제</a><br>
        <% end %>
      <hr>
    </div>    
    <% end %>
    </div>
    <div class="text-center">
    <%= link_to '목록으로 가기', '/index', class: "btn btn-default btn-sm" %>
    </div>  
  </div>
 </div>

 
  <script>  
$(document).ready(function() {  
   $("#myCarousel").swiperight(function() {  
      $("#myCarousel").carousel('prev');  
    });  
   $("#myCarousel").swipeleft(function() {  
      $("#myCarousel").carousel('next');  
   });  
});  
</script> 
